extend template\jade-bootstrap\_bootstrap.jade
append styles
	link(href='https://fonts.googleapis.com/css?family=Josefin+Sans:400,700|Exo:400,800' rel='stylesheet' type='text/css')
block body
	include template/topNavigation.jade
	.container
		// - header Page
		.row.spaceTop
			.col-xs-12.text-center
				.jumbotron
					h3 iQ Indistrial Ninja CatEGORY
					p Microsoft surprised many last week by including an overhaul of all emojis in the preview release of the Windows 10 "Anniversary Update".
					p
						a.btn.btn-primary.btn-lg(href='whitepaper.html', role='button') view more
		//
		.row
			.col-xs-12.col-sm-6.col-md-3
				.card.thumbnail.cardWhitepapers
					.headIcon
						include assets\images\iconWhitepapers.svg
					img(src='assets/images/thumb/whitepaper01.jpg', alt='whitepaper01')
					.caption
						h4 How to Make Your Ebook Marketing Campaign
						p.description Microsoft surprised many last week by including an overhaul of all emojis in the preview release of the Windows 10 "Anniversary Update".
						p
							a(href='whitepaper.html', role='button') Vezi detalii
							a.btn.btn-default.btn-sm(href='whitepaper.html', role='button') Download
			.col-xs-12.col-sm-6.col-md-3
				.card.thumbnail.cardWebinars
					.headIcon
						include assets\images\iconWebinars.svg
					img(src='assets/images/thumb/webinar01.jpg', alt='whitepaper01')
					.caption
						h4 How to Make Your Ebook Marketing Campaign
						p.description Microsoft surprised many last week by including an overhaul of all emojis in the preview release of the Windows 10 "Anniversary Update".
						p
							a(href='whitepaper.html', role='button') Vezi detalii
							a.btn.btn-default.btn-sm(href='whitepaper.html', role='button') Webinar
			.col-xs-12.col-sm-6.col-md-3
				.card.thumbnail.cardHowTo
					.headIcon
						include assets\images\iconHowTo.svg
					img(src='assets/images/thumb/howTo01.jpg', alt='whitepaper01')
					.caption
						h4 How to Make Your Ebook Marketing Campaign
						p.description Microsoft surprised many last week by including an overhaul of all emojis in the preview release of the Windows 10 "Anniversary Update".
						p
							a.btn.btn-default.btn-sm(href='whitepaper.html', role='button') Vezi
			.col-xs-12.col-sm-6.col-md-3
				.card.thumbnail.cardWhitepapers
					.headIcon
						include assets\images\iconWhitepapers.svg
					img(src='assets/images/thumb/whitepaper01.jpg', alt='whitepaper01')
					.caption
						h4 How to Make Your Ebook Marketing Campaign
						p.description Microsoft surprised many last week by including an overhaul of all emojis in the preview release of the Windows 10 "Anniversary Update".
						p
							a(href='whitepaper.html', role='button') Vezi detalii
							a.btn.btn-default.btn-sm(href='whitepaper.html', role='button') Download


					// footer
					// logo minex in stinga
					// retelele sociale: facebook, youtube, twitter, linkedin
					// Copyright / Minex Group. All Right Reserved
					
					// login
					// recuperare parola
					// pagina modificare profil plus pagina de my download
					
