extend template\jade-bootstrap\_bootstrap.jade
append styles
	link(href='https://fonts.googleapis.com/css?family=Josefin+Sans:400,700|Exo:400,800' rel='stylesheet' type='text/css')
block body
	include template/topNavigation.jade
	.container
		.row.spaceTop
			.col-xs-12.col-sm-7.listDownload
				h3 Your Download
				hr
				ul.list-unstyled
					block mediaWhitepapers
						li
							.media
								.media-left
									a(href="#")
										img.media-object(src="assets/images/thumb/whitepaper01.jpg" alt="...")
								.media-body
									h4.media-heading
										| How to Make Your Ebook Marketing Campaign
									p
										| Microsoft surprised many last week by including an overhaul of all emojis in the preview release of the Windows 10 "Anniversary Update".
							hr
					block mediaWhitepapers
					block mediaWhitepapers
					block mediaWhitepapers
					block mediaWhitepapers
					block mediaWhitepapers
			.col-xs-12.col-sm-5.profilePage
				h3 Your profile
				hr
				dl.dl-horizontal
					dt Nume: 
					dd Razvan
					dt Prenume: 
					dd Nicu
					dt Email: 
					dd cromozooom@gmail.com 
					dt Industry: 
					dd web design
					dt Tara: 
					dd United Kingdom
					dt Functie: 
					dd web designer
					dt Password: 
					dd *********
					dt Edit personal data
					dd
						a.btn.btn-primary.btn-xs(href='whitepaper.html', role='button') edit profile
				hr
					
