extend template\jade-bootstrap\_bootstrap.jade
append styles
	link(href='https://fonts.googleapis.com/css?family=Josefin+Sans:400,700|Exo:400,800' rel='stylesheet' type='text/css')
block body
	include template/topNavigation.jade
	.container.spaceTop
		// - header Page
		.row
			.col-xs-12.text-center
				.jumbotron
					h3 Whitepapers iQ Indistrial Ninja
					p Microsoft surprised many last week by including an overhaul of all emojis in the preview release of the Windows 10 "Anniversary Update".
					p
						a.btn.btn-primary.btn-lg(href='#', role='button') view more
		//
		.row
			block card
				.col-xs-6.col-sm-6.col-md-3
					.thumbnail.cardWhitepapers
						.headIcon
							include assets\images\iconWhitepapers.svg
						img(src='assets/images/thumb/whitepaper01.jpg', alt='whitepaper01')
						.caption
							h4 How to Make Your Ebook Marketing Campaign
							p Microsoft surprised many last week by including an overhaul of all emojis in the preview release of the Windows 10 "Anniversary Update".
							p
								a(href='whitepaper.html', role='button') Vezi detalii
								a.btn.btn-default.btn-sm(href='whitepaper.html', role='button') Download
			block card
			block card
			block card
			block card
			block card
			block card
			block card
		block paggination
			nav
				ul.pagination
					li
						a(href='#', aria-label='Previous')
							span(aria-hidden='true') «
					li
						a(href='#') 1
					li
						a(href='#') 2
					li
						a(href='#') 3
					li
						a(href='#') 4
					li
						a(href='#') 5
					li
						a(href='#', aria-label='Next')
							span(aria-hidden='true') »
